<main>
<h2> Welcome To The Todo's home page</h2>
<p class="parap_Signup">If you are New User  <%= link_to "Sign up", new_user_path %>
</p>
<p  class="parap_Signin">If you are Existing  User  <%=link_to "Sign-In Here" ,new_sessions_path %></p>
</main>
