.parap_Signup{
  margin-top: 10px;
  margin-bottom:10px;
}

.parap_Sigin{
  margin-top: 10px;
  margin-bottom:10px;
}

.parap_Signup:hover{
  background-color: rgb(198, 181, 214);
}

.parap_Sigin:hover{
  background-color: rgb(173, 135, 30);
}
.User_Head{
  background-color: rgb(186, 228, 231);
  color: black;
  font-size: large;
  display: flex;
  justify-content: space-between;
}
.flash_error{
  color: darkred;
  margin-top: 10px;
  font-weight: 700;
}
