<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="todo-app.css">
  <!-- <link rel="stylesheet" type="text/css" href="reset.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Document</title>
</head>

<body>
  <h1>My Todo-list</h1>
  <main>
    <article class="Main-Todo-Layout">

      <section class="Add-new">
        <input class="Add-toto-text" type="text" placeholder="What's Next ">
        <input class="Add-date" type="date">
        <input class="Add-button" type="button" value="Add">
      </section>

      <section class="show-list-Today">
        <div class="section-heading-design">
          <p class="section-heading-text"> Due Today</p>
          <p class="sectionTitle-remaining-item">0/3</p>
        </div>
        <ul class="Ul-listing-items">
          <li class="TodoItem">
            <input class="TodoItems-Checkbox" type="checkbox" name="checkBox2" unchecked>
            Submit saas 2001 Project
            <p class="Overdue-Todoitem">Overdue</p>
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img class="delete-icon" src="delete.png" alt="Not connected">
            </a>
          </li>
          <li class="TodoItem">
            <input class="TodoItems-Checkbox" type="checkbox" name="checkBox2" unchecked>
            Call accountant
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img class="delete-icon" src="delete.png" alt="Not connected">
            </a>
          </li>
        </ul>
      </section>

      <section class="show-list-Tomorrow">
        <div class="section-heading-design">
          <p class="section-heading-text"> Due Tomorrow</p>
          <p class="sectionTitle-remaining-item">0/3</p>
        </div>
        <ul class="Ul-listing-items">
          <li class="TodoItem">
            <input class="TodoItems-Checkbox" type="checkbox" name="checkBox2" unchecked>
            Refill groceries
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img class="delete-icon" src="delete.png" alt="Not connected">
            </a>
          </li>
        </ul>
      </section>

      <section class="show-list-Remaining">
        <div class="section-heading-design">
          <p class="section-heading-text"> Remaining</p>
          <p class="sectionTitle-remaining-item">0/3</p>
        </div>
        <ul class="Ul-listing-items">
          <li class="TodoItem">
            <input class="TodoItems-Checkbox" type="checkbox" name="checkBox2" unchecked>
            Type Something
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img class="delete-icon" src="delete.png" alt="Not connected">
            </a>
          </li>
          <li class="TodoItem">
            <input class="TodoItems-Checkbox" type="checkbox" name="checkBox2" unchecked>
            Type Something
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img class="delete-icon" src="delete.png" alt="Not connected">
            </a>
          </li>
          <li class="TodoItem">
            <input class="TodoItems-Checkbox" type="checkbox" name="checkBox2" unchecked>
            Type Something
            <a class="TodoItem-delete" href="javascript:void(0)">
              <img class="delete-icon" src="delete.png" alt="Not connected">
            </a>
          </li>
        </ul>
      </section>

    </article>
  </main>
</body>

</html>
